ml/export_assets
ml/.venv
web-backend/.venv
.env
**/.env
**/.env.local
**/.data/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
web-frontend/.next/
web-frontend/node_modules/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
